!!!
%html
  %head
    %meta{:content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    %meta{name: 'viewport', content: 'width=device-width, minimum-scale=1, initial-scale=1'}
    %title BBS Example
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

    = yield :head
  %body
    %nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          %button.navbar-toggle(type='button'){data: {toggle: 'collapse', target: '#myNavbar'}}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand(href='#') Logo
        .collapse.navbar-collapse(id='myNavbar')
          %ul.nav.navbar-nav
            %li.active
              = link_to 'Home', '/'
          %form.navbar-form.navbar-right(role='search')
            .form-group.input-group
              %input.form-control(type='text' placeholder='Search..')
              %span.input-group-btn
                %button.btn.btn-default(type='button')
                  %span.glyphicon.glyphicon-search
          %ul.nav.navbar-nav.navbar-right
            %li
              = link_to bbs.edit_profile_path do
                %span.glyphicon.glyphicon-user アカウント
            %li
              = link_to 'ログアウト', main_app.destroy_user_session_path, method: :delete

    .container
      .row
        .col-sm-3.well
          .well
            = cell('bbs/category')

        .col-sm-7
          .bbs-breadcrumbs
            = breadcrumbs separator: ' &rsaquo; '

          = yield

        .col-sm-2.well
          .well
            = cell('bbs/latest_topics')

    %footer.container-fluid.text-center
      %p Footer Text
