%h2 Sign up
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!

  .field
    = f.label :email
    %br
    = f.email_field :email, autofocus: true

  .field
    = f.label :password
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
    %br
    = f.password_field :password, autocomplete: 'off'

  .field
    = f.label :password_confirmation
    %br
    = f.password_field :password_confirmation, autocomplete: 'off'

  = f.fields_for :profile, resource.build_profile do |p|
    .field
      = p.label :avatar_url
      %br
      = p.collection_radio_buttons :avatar_id, Bbs::Avatar.all, :id, :id do |r|
        = r.label { r.radio_button(style: 'width: 1em') + image_tag(r.object.image.url(:medium)) }

    .field
      = p.label :nickname
      %br
      = p.text_field :nickname

  .actions
    = f.submit 'Sign up'

= render 'devise/shared/links'
